//
// old-ie
// Ignores media query syntax when '$old-ie' is true.
//
// Usage: @include old-ie("only screen and (min-width:769px)") {
//     /* Your media-specific styles
// }
//
@mixin old-ie($query-params) {
    @if $old-ie == true {
        @content;
    }
    @else {
        $query-params: unquote($query-params);
        @media #{$query-params} {
            @content;
        }
    }
}

@mixin all {
  transition: 0.3s all cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-transition: 0.3s all cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@mixin top {
  transition: 0.3s top cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-transition: 0.3s top cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@mixin toggle {
  transition: 0.3s left cubic-bezier(0.455, 0.03, 0.515, 0.955), 0.3s right cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-transition: 0.3s left cubic-bezier(0.455, 0.03, 0.515, 0.955), 0.3s right cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@mixin  zIndex {
    transition: 0.3s z-index ease-in-out;
    -webkit-transition: 0.3s z-index ease-in-out;
}

@mixin margin-top {
    transition: 0.3s margin-top ease-in-out;
    -webkit-transition: 0.3s margin-top ease-in-out;
}

@mixin height {
    transition: 0.3s height ease-in-out;
    -webkit-transition: 0.3s height ease-in-out;
}
@mixin maxHeight {
    transition: 0.3s max-height ease-in-out;
    -webkit-transition: 0.3s max-height ease-in-out;
}
@mixin width {
    transition: 0.3s width ease-in-out;
    -webkit-transition: 0.3s width ease-in-out;
}

@mixin fill {
    transition: 0.3s fill ease-in-out;
    -webkit-transition: 0.3s fill ease-in-out;
}

@mixin color {
	transition: 0.3s color ease-in-out;
	-webkit-transition: 0.3s color ease-in-out;
}

@mixin background-color {
	transition: 0.3s background-color ease-in-out;
	-webkit-transition: 0.3s background-color ease-in-out;
}

@mixin border {
    transition: 0.3s border ease-in-out;
    -webkit-transition: 0.3s border ease-in-out;
}

@mixin opacity {
    transition: 0.3s opacity ease-in-out;
    -webkit-transition: 0.3s opacity ease-in-out;
}

@mixin fade {
    transition: 0.3s opacity ease-in-out, 0.3s visibility ease-in-out;
    -webkit-transition: 0.3s opacity ease-in-out, 0.3s visibility ease-in-out;
}

@mixin fadeDelay {
    transition: 0.3s opacity ease-in-out 50ms, 0.3s visibility ease-in-out 50ms;
    -webkit-transition: 0.3s opacity ease-in-out 50ms, 0.3s visibility ease-in-out 50ms;
}

@mixin transform {
    -ms-transform: 0.3s transform ease-in-out;
    transition: 0.3s transform ease-in-out;
    -webkit-transition: 0.3s -webkit-transform ease-in-out;
}

@mixin zoom {
  transition:
    opacity .1s ease-out 50ms,
    transform .3s cubic-bezier(.3, 1.4, .7, 1),
    visibility 0s;
  -webkit-transition:
    opacity .1s ease-out 50ms,
    transform .3s cubic-bezier(.3, 1.4, .7, 1),
    visibility 0s;
}
